<div class="member-box">

  <div class="top-bar"></div>

  <img alt="Member photo" src="{{ site.images_path | relative_url }}members/{{ member.photo }}" onerror="this.onerror=null; this.src='{{ site.images_path | relative_url }}squid_logo.png'">

  <div class="info">
    <div class="name">
      <!-- <a href="{{ member.url | prepend: site.baseurl }}"> -->
        {{ member.name }}
      <!-- </a> -->
    </div>
    <!-- <p>{{ member.content | markdownify }}</p> -->
    
    <div class="links">
    
      {%- if member.website -%}
        <a href="{{ member.website }}" target="_blank">
          <i class="fas fa-address-card" title="website"></i>
        </a>
      {%- endif -%}
    
      {%- if member.googlescholar -%}
        <a href="{{ member.googlescholar }}" target="_blank">
          <i class="ai ai-google-scholar" title="google scholar"></i>
        </a>
      {%- endif -%}
      
      {%- if member.researchgate -%}
        <a href="{{ member.researchgate }}" target="_blank">
          <i class="ai ai-researchgate" title="researchgate"></i>
        </a>
      {%- endif -%}
      
      {%- if member.publons -%}
        <a href="{{ member.publons }}" target="_blank">
          <i class="ai ai-publons" title="publons"></i>
        </a>
      {%- endif -%}
      
      {%- if member.orcid -%}
        <a href="{{ member.orcid }}" target="_blank">
          <i class="ai ai-orcid" title="orcid"></i>
        </a>
      {%- endif -%}
    
      {%- if member.github -%}
        <a href="{{ member.github }}" target="_blank">
          <i class="fab fa-github" title="github"></i> 
        </a>
      {%- endif -%}
      
      {%- if member.twitter -%}
        <a href="{{ member.twitter }}" target="_blank">
          <i class="fab fa-twitter" title="twitter"></i>
        </a>
      {%- endif -%}
      
      {%- if member.facebook -%}
        <a href="{{ member.facebook }}" target="_blank">
          <i class="fab fa-facebook" title="facebook"></i>
        </a>
      {%- endif -%}
      
      {%- if member.instagram -%}
        <a href="{{ member.instagram }}" target="_blank">
          <i class="fab fa-instagram" title="instagram"></i>
        </a>
      {%- endif -%}
        
     </div>
  </div>  
</div>