<h4><strong>Follow us!</strong></h4>

<ul class="social-media-list">
  
  {%- if site.github_username -%}
    <li>
      <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" title="github">
        <i class="fa-brands fa-github"></i>
        {{ site.github_username| escape }}
      </a>
    </li>
  {%- endif -%}
  
  {%- if site.twitter_username -%}
    <li>
      <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" title="twitter">
        <i class="fa-brands fa-x-twitter"></i>
        {{ site.twitter_username| escape }}
      </a>
    </li>
  {%- endif -%}

</ul>
