---
---

@import "minima";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$squid-blue-dark: #337AB6;
$squid-blue-light: #3a9de3;
$squid-grey: #999999;


/***************************/
// General

body { 

  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  
}

p {
  text-align: justify;
}

a {
  color: $squid-blue-dark;
}

a:hover {
  color: $squid-grey;
}

/***************************/
// Header

.site-header {  
 border-top: 1px solid $squid-grey;
 border-bottom: 1px solid $squid-grey;
}

/***************************/
// Social icons

.fab, .fas, .ai{
  padding: 3px;
  color: $squid-grey;
}

a:hover .fab, a:hover .fas, a:hover .ai{
  color: $squid-blue-dark;
}

a:hover{
  text-decoration: none;
}

/***************************/
// Home page

.trigger {
  margin-right: 20px;
}

#nav-social {
  float: right;
}

#nav-social a:hover {
  text-decoration: none; 
}


#home-squid-logo {
  background-color:$squid-blue-dark;
  padding: 30px 0px 0px 0px;
  box-shadow: 0px 10px 30px 0px rgba($squid-blue-dark, 0.8);
  
}

#home-squid-logo img {
  height: 80%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#home-squid-package {
  margin: 30px 0px;
}

#home-squid-package .wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#home-squid-package img {
  width: 25%;
  height: 25%;
  float: left;
}


#home-squid-package .package-text{
  position: relative;
  float: left;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 20px;
}


/***************************/
// Members

.member-page h1 {
  text-align: center;
}


.member-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} 

hr.rounded {
  margin: 30px 0px 15px 0px;
  border-color: $squid-blue-dark;
}

.member-box{
  position: relative;
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  position: relative;
  border-radius: 20px;
}

.top-bar{
  width: 50%;
  height: 4px;
  background: $squid-blue-dark;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.member-box img{
  width: 90px;
  height: 90px;
  border-radius:100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.member-box .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-box .name {
  margin: 5px 0px;
  font-size: 1.1em;
  text-align: center;
}

/***************************/
// Publications

.publication{
  position: relative;
  line-height: 1.5;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
  border-radius: 20px;
}


/***************************/
// Footer

.site-footer {
  border-top: 1px solid $squid-grey;
}

.footer-col-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-col-1 {
  width: calc(75% - (30px / 2));
  vertical-align: middle;
}

.footer-col-2 {
  width: calc(25% - (30px / 2));
}

.footer-col-3 {
  width: calc(0% - (30px / 2));
}

.copyright {
  text-align: center;
  font-size: 70%;
  color: $squid-grey;
}