---
---

@import "minima";

/***************************/
// Social icons
.fab, .fas, .ai{
  padding: 3px;
  color: #999999;
}

a:hover .fab, a:hover .fas, a:hover .ai{
  color: #2a7ae2;
  
}

a:hover{
  text-decoration: none;
}

/***************************/
// Home page

$squid-blue-color: #337AB6;

.trigger {
  
  margin-right: 20px;
}

#nav-social {
  
  float: right;
}

#nav-social a:hover {
  text-decoration: none; 
}


#home-squid-logo {
  
  background-color:$squid-blue-color;
  padding: 30px 0px;
}


/***************************/
// Members

.member {
  padding: 5px;
  float: left;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  .member {
      width: 100%;
  }
}

.member .container {
  text-align: center;
  padding: 5px;
  border: 2px solid #e2e2e2;
  border-radius: 10%;
  // height: 225;
}

.member h3 {
  margin-bottom: 0px;
}

.member img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.member .links {
  text-align: right;
  padding-right: 20px;
}

.members:after {
  content: "";
  display: table;
  clear: both;
}


