---
layout: default
---


<div id="home-squid-logo">
  <div class="wrapper">
    <img src="{{site.images_path | relative_url}}squid_home.png" alt="squid"> 
  </div>
</div>

<div id="home-squid-package">
  <div class="wrapper">

    <img src="{{site.images_path | relative_url}}squid_package.png" alt="squid package"> 
    
    <div class="package-text">
      
      <h3>Check out our R package!</h3>
      
      <p>squid is a simulation-based R package to help generating multi-level data and learning mixed-effect models.</p>
      
      <a href="https://squid-group.github.io/squid/", target="_blank">Project site link 
        <i class="fas fa-external-link-alt"></i>
      </a>
    
      </br>
      
      <a href="https://github.com/squid-group/squid" target="_blank">Github link
        <i class="fab fa-github" title=github></i>
      </a>
      
    </div>
    
  </div>
</div>

